.heading-for-catalog{

    background-color: red;
    padding: 10px;
}


.front-page-of-catalog{
    padding: 20px;
    margin-right: 20px;
    clear:both;
    background-color: black;

}
.nav {
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-inside: 20px;
    padding: 10px;
}

.nav1 {
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-inside: 20px;
    padding: 10px;
}

img{

    width:150px;
    height:150px;
    padding: 5px;


}